body{
    width: 1600px;
    margin: auto;
}

li {
    list-style-type: none; 
   }

/*header*/


.heading-dog{
    position: relative;
    margin-bottom: 100px;
}

.heading-dog-big{
    position: absolute;
    top: 5%;
    left: 40%;
}

.chief-dog{
    width: 1600px;
    height: 800px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text-dog{
font-size: 30px;
padding-left: 100px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.text-dog-two{
font-size: 70px;
padding-left: 5px;
}


/*cont 1*/



.first-part{
position: relative;
width: 800px;
height: 400px;
margin: auto;
margin-bottom: 300px;
}

.first-part-one{
position: absolute;
top: 0px;
left:-60px;
width: 300px;
height: 300px;
background-color: black;
}

.one-text{
color: white;
padding-top: 20px;
text-align: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.one-pict-sv{
    padding-left: 30px;

}



.one-pict{
fill: white;
}




.first-part-tu{
width: 300px;
height: 300px;
background-color: white;
position: absolute;
top: 300px;
left:-60px;  
}

.tu-image{
    padding-left: 110px;
}


.tu-text{
margin-top: -55px;
padding-top: 10px;
padding-left: 5px;
text-align: center;
font-size: 18px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.first-part-three{
    position: absolute;
    top: 0;
    left: 240px;
    width: 300px;
    height: 300px;
    background-color: white;
    
}
.three-sv{
    width: 100px;
    padding-left: 120px;
}

.three-text{
 margin-top: -55px; 
 padding-left: 5px;
text-align: center;
font-size: 18px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.first-part-four{
    position: absolute;
    top: 300px;
    left: 240px;
    width: 300px;
    height: 300px;
}



.first-part-five{
    position: absolute;
    top: 0px;
    left: 540px;
    width: 300px;
    height: 300px;
}

.first-part-six{
    position: absolute;
    background-color: white;
    top: 300px;
    left: 540px;
    width: 300px;
    height: 300px;

}

.six-sv{
    margin-left: 110px;
}

.six-text{
margin-top: -55px; 
padding-left: 5px;
text-align: center;
font-size: 18px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}




/*cont 2*/

.part-cat{
position: relative;
}

.part-text-one{
    position: absolute;
    top: 25%;
    left: 10%;
    color: white;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.part-text-tu{
    color: white;
    position: absolute;
    top: 35%;
    left:15%;
    font-size: 35px;
}

/*cont 3*/
.part-dog{
position: relative;
margin-bottom: -20px;
width: auto;
height: 500px;
background-color: rgba(90, 94, 93, 0.158);
}

.part-dog-one{
margin-left: 25%;
padding-top: 2%;
}

.part-dog-tu{
margin-left: 25%;
padding-top: 0%;
}

.part-dog-free{
margin-left: 25%;
padding-top: 1%;
}


.part-dog-pict{
position: absolute;
top: 10% ;
left: 50% ;
}




/*cont 4*/


.dog-muzzle{
position: relative;
width: auto;
height: 500px;
width: 1200px;
background-color: rgba(90, 94, 93, 0.158);
}

.part-pict-middle{
position: absolute;
top: 0;
left: 400px;
}

.muzzle-text{
    position: absolute;
    top:0 ;
    left: 80%;

}

.muzzle-icon{
    position: absolute;
    left: 80%;
}